.idea/*
env/*
__pycache__
example*
.pypirc
setup.py
setup.cfg
LICENSE.txt
*.pyc
.idea/
__pycache__/
env/
telegram_bot_api/__pycache__/
telegram_bot_api/exceptions/__pycache__/
telegram_bot_api/utils/__pycache__/
telegram_bot_api/schemas/__pycache__/